body {
    color: deeppink;
    text-align: center;
    font-family: Arial;

#cabecera
{
    font-size: 25px;
    background-color: #FFAAAA
    font-weight: bold;
    margin: 0px;
    box
    color: #ffffff;
}